<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>硅谷精英首页</title>
    
    	<script type="text/javascript" src="./js/front/index1.js"></script>
    
    	<script src="./js/jquery-1.12.4.js"></script>
		<script src="./js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" language="javascript"
		src="./js/dataTables.bootstrap.js"></script>
		<script src="./js/bootstrap.min.js"></script>
    
    	<link rel="stylesheet" type="text/css" href="./css/list/all.css" />
		<script type="text/javascript" src="./js/front/flexible.js"></script>
	

	
</head>
<body>
    <header>
		<img src="image/首页_03.jpg" />
		<a href="http://online.hfut.edu.cn/" target="_blank"><img src="image/首页_05.jpg" /></a>
    </header>
	<div class="title">
		<div>
			<a href="index1">首页</a>
		</div>
		<div>
			<a href="list1">硅谷资讯</a>
			<ul>
				<li><a href="list1-1">硅谷要闻</a></li>
				<li><a href="list1-2">硅谷专区</a></li>
			</ul>
		</div>
		<div>
			<a href="list2 ">高新技术</a>
			<ul>
				<li><a href="list2-1 ">IT</a></li>
				<li><a href="list2-2 ">通信</a></li>
				<li><a href="list2-3 ">汽车</a></li>
				<li><a href="list2-4 ">家电</a></li>
				<li><a href="list2-5 ">生物医药</a></li>
				<li><a href="list2-6 ">新材料</a></li>
				<li><a href="list2-7 ">新能源</a></li>
			</ul>
		</div>
		<div>
			<a href="list3 ">校园硅谷</a>
			<ul>
				<li><a href="list3-1 ">科技创新</a></li>
				<li><a href="list3-2 ">学子竞技</a></li>
				<li><a href="list3-3 ">高校平台展示</a></li>
				<li><a href="list3-4 ">创业团队</a></li>
				<li><a href="list3-5 ">创业之星</a></li>
			</ul>
		</div>
		<div>
			<a href="list4 ">创业先锋</a>
			<ul>
				<li><a href="list4-1 ">业界精英</a></li>
				<li><a href="list4-2 ">创业新秀</a></li>
				<li><a href="list4-3 ">创业心得</a></li>
			</ul>
		</div>
		<div>
			<a href="list5 ">管理之道</a>
			<ul>
				<li><a href="list5-1 ">管理理论</a></li>
				<li><a href="list5-2 ">企业战略</a></li>
				<li><a href="list5-3 ">创业管理</a></li>
				<li><a href="list5-4 ">创业文化</a></li>
				<li><a href="list5-5 ">书籍推荐</a></li>
			</ul>
		</div>
		<div>
			<a href="list6 ">创业平台</a>
			<ul>
				<li><a href="list6-1 ">人才推介</a></li>
				<li><a href="list6-2 ">创业融资</a></li>
				<li><a href="list6-3 ">技术推广</a></li>
			</ul>
		</div>
		<div>
			<a href="list7 ">创业资源</a>
			<ul>
				<li><a href="list7-1 ">高新园区</a></li>
				<li><a href="list7-2 ">孵化器</a></li>
				<li><a href="list7-3 ">特色产业基地</a></li>
				<li><a href="list7-4 ">创业基金</a></li>
				<li><a href="list7-5 ">创业政策</a></li>
			</ul>
		</div>
	</div>
	<div id="roll_pic">
		<div id="roll_left">
			<img src="image/roll/首页_03.jpg" />
		</div>
		<div id="roll_frame">
			<a target="_blank" href="page1-1 "></a>
			<div>
				<p>大雁，新歌上线，人之间山水江湖</p>
				<div class="roll_get" id="roll1"></div>
				<div id="roll2"></div>
				<div id="roll3"></div>
				<div id="roll4"></div>
				<div id="roll5"></div>
				<div id="roll6"></div>
				<div id="roll7"></div>
				<div id="roll8"></div>
			</div>
		</div>
		<div id="roll_right">
			<img src="image/roll/首页_05.jpg" />
		</div>
	</div>
	<div class="main">
		<div>
			<img src="image/首页_02.jpg" />
		</div>
		<div>
			<div id="title2">
				<ul>
					<li id="title21" class="title2_get"><a href="list5-1 ">管理理论</a></li>
					<li id="title22"><a href="list3-1 ">科学创新</a></li>
					<li id="title23"><a href="list4-3 ">创业心得</a></li>
					<li id="title24"><a href="list3-3 ">高校平台展示</a></li>
					<li id="title25"><a href="list7-3 ">特色创业基地</a></li>
				</ul>
			</div>
			<div class="index_content" id="index_content1">
				
				<!-- 正文内容 -->
				
			</div>
			<div class="index_content hidden" id="index_content2">
				
				<!-- 正文内容 -->
				
			</div>
			<div class="index_content hidden" id="index_content3">
				
				<!-- 正文内容 -->
				
			</div>
			<div class="index_content hidden" id="index_content4">
				
				<!-- 正文内容 -->
				
			</div>
			<div class="index_content hidden" id="index_content5">
				
				<!-- 正文内容 -->
				
			</div>
			<div class="turn_page">
				<a href="index "><span></span></a>
				<a target="_blank" href="index " class="cur_page"><span>1</span></a>
				<a href="index "><span>2</span></a>
				<a href="index "><span>3</span></a>
				<a href="index "><span>下一页</span></a>
				<a href="index "><span></span></a>
			</div>
		</div>
		<div class="latest_news">
			<div>
				<div>
					<span>最新资讯</span>
				</div>
				<div>
					<ul>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
					</ul>
				</div>
			</div>
			<div>
				<div>
					<span>硅谷要闻</span>
					<span><a href="list1-1 ">更多 </a></span>
				</div>
				<div>
					<ul>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
						<li><a target="_blank" href="page1-1 ">链接XXXXXXXXXX</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<img src="image/首页_09.jpg" />
		</div>
	</div>
	<footer>
		<p>Copyright <span>©</span> 2016 党委学生工作部 明理苑大学生网络文化工作室 All rights reserved.Powerd By 工大学子</p>
		<p>
			常用链接：
			<a href="http://www.univs.cn/" target="_blank">中国大学生在线</a>
			<a href="http://www.hfut.edu.cn/ch/" target="_blank">合肥工业大学</a>
			<a href="http://xgb.hfut.edu.cn/" target="_blank">合工大党委学工部</a>
		</p>
	</footer>
	<script type="text/javascript" src="./js/front/all.js"></script>
</body>
</html>
