<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>硅谷精英列表</title>
    <link rel="stylesheet" type="text/css" href="./css/list/list.css" />
    <script type="text/javascript" src="./js/front/list5.js"></script>
    
    <script src="./js/jquery-1.12.4.js"></script>
	<script src="./js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript"
	src="./js/dataTables.bootstrap.js"></script>
	<script src="./js/bootstrap.min.js"></script>
    
</head>
<body>
    <header>
		<img src="image/首页_03.jpg" />
		<a href="http://online.hfut.edu.cn/" target="_blank"><img src="image/首页_05.jpg" /></a>
    </header>
	<div class="title">
		<div>
			<a href="index1">首页</a>
		</div>
		<div>
			<a href="list1 ">硅谷资讯</a>
		</div>
		<div>
			<a href="list2 ">高新技术</a>
		</div>
		<div>
			<a href="list3 ">校园硅谷</a>
		</div>
		<div>
			<a href="list4 ">创业先锋</a>
		</div>
		<div>
			<a class="a_check" href="list5 ">管理之道</a>
		</div>
		<div>
			<a href="list6 ">创业平台</a>
		</div>
		<div>
			<a href="list7 ">创业资源</a>
		</div>
	</div>
	<div class="title_add">
		<a class="a_check" href="list5 ">所有</a>
		<a href="list5-1 ">管理理论</a>
		<a href="list5-2 ">企业战略</a>
		<a href="list5-3 ">创业管理</a>
		<a href="list5-4 ">创业文化</a>
		<a href="list5-5 ">书籍推荐</a>
		<a></a>
		<a></a>
	</div>
	<div class="main">
		<div class="index_content">
			



		</div>
		<div id="c_end_img">
			<img src="image/文章列表_03.jpg" />
		</div>
	</div>
	<footer>
		<p>Copyright <span>©</span> 2016 党委学生工作部 明理苑大学生网络文化工作室 All rights reserved.Powerd By 工大学子</p>
		<p>
			常用链接：
			<a href="http://www.univs.cn/" target="_blank">中国大学生在线</a>
			<a href="http://www.hfut.edu.cn/ch/" target="_blank">合肥工业大学</a>
			<a href="http://xgb.hfut.edu.cn/" target="_blank">合工大党委学工部</a>
		</p>
	</footer>
	<script type="text/javascript" src="./js/front/all.js"></script>
</body>
</html>
